/* Bootstrap variable overrides */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Primary color */

:root {
  --bs-primary: #2f8eb5;
  --bs-secondary: #6c757d;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-font-sans-serif: 'Tajawal', sans-serif;
  --bs-border-radius: 0.4rem;
  --bs-body-bg: #f4f6fa;
  --bs-body-color: #222;
  --nav-color: #fff;
  --bs-emphasis-color-rgb: #fff;
  --primary-color: #17a085;
  --primary-light: #1dcdb4;
  --secondary-color: #2f8eb5;
  --text-dark: #343a40;
  --text-light: #f8f9fa;
  --text-muted: #6c757d;
  --bg-light: #f8f9fa;
  --shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  --transition: all 0.3s ease;
}


@media (min-width: 1200px) {
  .container-fluid,
  .container-xl {
    max-width: 70vw;
  }
}

.btn {
  padding: 0.6rem 1.2rem;
}

.navbar-brand {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--nav-color) !important;
}

.nav-link {
  font-size: 12px;
}

.nav-link,
.nav-link.active,
.nav-link:hover {
  font-weight: 400;
  color: var(--nav-color) !important;
}

.navbar-toggler-icon {
  color: var(--nav-color) !important;
}